body{
	font-family: "Roboto", sans-serif;
}

.header-barbershop-index a{
	font-size: 14px; 
    line-height: 30px;
    text-decoration: none; 
    text-transform: uppercase; 
}

.login-barbershop-index{
	font-size: 14px; 
    line-height: 30px;
    text-decoration: none; 
    text-transform: uppercase; 
}

.h1-barbershop-index{
	font-size: 30px; 
    line-height: 42px;
    text-transform: uppercase;
}

.breadcrumbs-barbershop-catalog a{
	font-size: 14px; 
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.h2-barbershop-index{
	font-size: 24px; 
    line-height: 30px;
    text-transform: uppercase;
}

form label{
	font-size: 14px; 
    line-height: 18px;
    text-transform: uppercase;
}

.form-button-show-brbr-index{
	font-size: 14px; 
    line-height: 18px;
    text-transform: uppercase;
}

.name-for-prod{
	font-size: 14px; 
    line-height: 18px;
    text-decoration: none;
}

.name-for-products{
	text-transform: uppercase;
}

.price{
	font-size: 14px; 
    line-height: 18px;
    text-transform: uppercase;
}

.button-buy-brbr-index{
	font-size: 14px; 
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.numbers-brbr-index a{
	font-size: 14px; 
    line-height: 18px;
    text-decoration: none;
}

.click-brbr-index{
	font-size: 14px; 
    line-height: 18px;
    text-decoration: none;
}

.info-brbr-index{
	font-size: 14px; 
    line-height: 24px;
    text-transform: uppercase;
}

.friends-brbr-index {
	font-size: 14px; 
    line-height: 24px;
    text-transform: uppercase;
}

.htmlweb-brbr{
	text-decoration: none;
}












.header-brbr-catalog a{
	font-size: 14px; 
    line-height: 30px;
    text-decoration: none; 
    text-transform: uppercase; 
}

.login-brbr-catalog{
	font-size: 14px; 
    line-height: 30px;
    text-decoration: none; 
    text-transform: uppercase; 
}

.h1-brbr-catalog{
	font-size: 30px; 
    line-height: 42px; 
    text-transform: uppercase; 
}

.breadcrumbs-brbr-catalog a{
	font-size: 14px; 
    line-height: 24px;
    text-decoration: none; 
    text-transform: uppercase; 
}

.content-brbr-catalog{
	font-size: 14px; 
    line-height: 24px; 
    text-transform: uppercase; 
}

.grey-words{
	color: #aeaeae;
}

.include{
	font-size: 24px; 
    line-height: 30px; 
    text-transform: uppercase;
}

